{%extends "additionalContent_base.ncl.j2" %}
{% block mainVideo %}       
    	<media id="mVideo" src="{{'media/' .. files_list.video}}" descriptor="desVideo">
			<property name="bounds"/>
    	</media>

{% endblock %}
{#endblock mainVideo #}
{% block interactiveButtons %}
		<media id="mBegin" descriptor="desBegin" src="{{'media/' .. files_list.begin}}"/>
		<media id="mExit" descriptor="desExit" src="{{'media/' .. files_list.close}}"/>
		
		<media id="mReg" descriptor="desReg" src="{{'media/' .. files_list.reg}}"/>

	{% for i in files_list.buttons %}
		<media id="{{'m' .. i.name}}" src ="{{'media/' .. i.image}}" descriptor="{{'desButton' .. loop.index}}"/>
    	<media id="{{'m' .. i.name .. '1'}}" src ="{{'media/' .. i.image}}" descriptor="{{'desButton' .. loop.index .. '_1'}}"/>
		<media id="{{'m' .. i.name .. 'Right'}}" src="{{'media/' .. i.right}}" descriptor="{{'desButton' .. loop.index ..'Right'}}"/> 
		<media id="{{'m' .. i.name .. 'Left'}}" src="{{'media/' .. i.left}}" descriptor="{{'desButton' .. loop.index ..'Right'}}"/> 
		<media id="{{'m' .. i.name .. 'Bg'}}" src ="{{'media/' .. i.background}}" descriptor="{{'desButton' .. loop.index .. 'Bg'}}"/>
		<media id="{{'m' .. i.name .. 'Title'}}" src="{{'media/' .. i.title}}" descriptor="{{'desButton' .. loop.index .. 'Title'}}">
			<property name="width" value="20%"/>
			<property name="height" value="5%"/>
			<property name="left" value="74%"/>
			<property name="top" value="{{73.8 + 5.0*loop.index0}}%"/>
			<property name="fontColor" value="white"/>
			<property name="fontSize" value="17"/>
			<property name="zIndex" value="3"/>
			<property name="fontFamily" value="Tiresias"/>
		</media>
		<media id="{{'m' .. i.name .. 'Title1'}}" src="{{'media/' .. i.title}}" descriptor="{{'desButton' .. loop.index .. 'Title1'}}">
			<property name="width" value="20%"/>
			<property name="height" value="5%"/>
			<property name="left" value="74%"/>
			<property name="top" value="{{13.8 + 5.0*loop.index0}}%"/>
			<property name="fontColor" value="white"/>
			<property name="fontSize" value="17"/>
			<property name="zIndex" value="3"/> 
			<property name="fontFamily" value="Tiresias"/>
		</media>
		<media id="{{'m' .. i.name .. 'Info'}}" src="{{'media/'.. i.info}}" descriptor="{{'desButton'.. loop.index .. 'Info'}}">
		{% if loop.index == 4 %}
			<property name="width" value="23%"/>
			<property name="height" value="53%"/>
		{% else %}
			<property name="width" value="25%"/>
			<property name="height" value="60%"/>
		{% endif %}
			<property name="left" value="70%"/>
			<property name="top" value="{{19 + 5.0*loop.index0}}%"/>
			<property name="fontColor" value="black"/>
			<property name="fontSize" value="17"/>
			<property name="zIndex" value="3"/> 
			<property name="fontFamily" value="Tiresias"/>
		</media>
		<media id="{{'m' .. i.name .. 'Info1'}}" src="{{'media/'.. i.infoPlus}}" descriptor="{{'desButton'.. loop.index .. 'Info1'}}">
		{% if loop.index == 4 %}
			<property name="width" value="23%"/>
			<property name="height" value="53%"/>
		{% else %}
			<property name="width" value="25%"/>
			<property name="height" value="60%"/>
		{% endif %}
			<property name="left" value="70%"/>
			<property name="top" value="{{19 + 5.0*loop.index0}}%"/>
			<property name="fontColor" value="black"/>
			<property name="fontSize" value="17"/>
			<property name="zIndex" value="3"/> 
			<property name="fontFamily" value="Tiresias"/>
		</media> 

	{% endfor %} 
{% endblock %}     
{# endblock interactiveButtons #}
{% include "macros.j2" %}
{% block startApp %}
{%+ call nutshell("mBegin", "INFO", "onKeySelectionStartNStopN", "onSelection") -%}
	{% for i in files_list.buttons %}
			{% set values = {'m' .. i.name , 'm' .. i.name .. 'Title'} %} 
			{{- setAction('start', values) }}		
	{% endfor %}	
			<bind role="start" component="mExit"/>	
			<bind role="stop" component="mBegin"/>
{%+ endcall %}	
{# endcall nutshell #}
{%- endblock %}
{# endblock startApp #}

{% block endApp %}
{%+ call nutshell("mExit", "INFO", "onKeySelectionStartNStopN", "onSelection") -%}
			<bind role="start" component="mBegin"/>
	{% for i in files_list.buttons %}
			{% set values = {'m' .. i.name, 'm' .. i.name .. '1', 
				'm' .. i.name .. 'Title', 'm' .. i.name .. 'Title1', 'm' .. i.name .. 'Bg',
				'm' .. i.name .. 'Info', 'm' .. i.name .. 'Right', 'm' .. i.name .. 'Info1' } %} 
			{{- setAction('stop', values) }}		
	{% endfor %}	
			<bind role="stop" component="mExit"/>	
			<bind role="stop" component="mReg"/>
{%+ endcall %}	
{# endcall nutshell #}  
{%- endblock %}
{# endblock endApp #}

{% block cursorDown %}
{%+ call nutshell("mReg", "CURSOR_DOWN", "onKeySelectionStartNStopN", "onSelection") -%}
			<bind role="stop" component="mReg"/>
	{% for i in files_list.buttons %}
			{% set values = {'m' .. i.name .. '1', 'm' .. i.name .. 'Title1', 
				'm' .. i.name .. 'Bg', 'm' .. i.name .. 'Info'} %} 
			{{- setAction('stop', values) }}					
	{% endfor %}	
	{% for i in files_list.buttons %}
			{% set values = {'m' .. i.name, 'm' .. i.name .. 'Title'} %} 
			{{- setAction('start', values) }}					
	{% endfor %}
{%+ endcall %}	
{# endcall nutshell #}
{%- endblock %}
{# endblock cursorDown #}

{% block startButtons %}
	{% call (key, button) setEnv() %}
	{% set stopMem = {} %}
	{% set startMem = {'mReg'} %}
	{% for i in files_list.buttons %}
		{%+ call nutshell("m".. i.name, key[loop.index], "onKeySelectionStopNStartN", "onSelection") %}	
		{% if loop.index == 1 %}
			{% set stopMedias = {'m' .. button[loop.index], 
				'm' .. button[loop.index] .. 'Title'} %} 
			{{- setAction('stop', stopMedias) -}}					
			{% for i in range(#stopMedias) %} 
				{% set stopMem = table.insert(stopMem,stopMedias[i]) %} 
			{%endfor%} 
			{% set startMedias = {'m' .. button[loop.index] .. '1', 'm' .. button[loop.index] .. 'Title1'} %} 
			{% for i in range(#startMedias) %} 
				{% set startMem = table.insert(startMem,startMedias[i]) %} 
			{%endfor%} 
			{{- setAction('start', startMem) }}	
			<bind role="start" component="{{'m' .. button[loop.index] .. 'Bg'}}"/>
			<bind role="start" component="{{'m' .. button[loop.index] .. 'Info'}}"/>	
		{% else %}
		{% set stopMedias = {'m' .. button[loop.index], 'm' .. button[loop.index] .. 'Title', 
				'm' .. button[loop.index-1] .. 'Bg', 'm' .. button[loop.index-1] .. 'Info' } %}
			{% for i in range(#stopMedias) %} 
				{% set stopMem = table.insert(stopMem,stopMedias[i]) %} 
			{%endfor%} 
				{{- setAction('stop', stopMem) -}} 
		{% set startMedias = {'m' .. button[loop.index] .. '1', 'm' .. button[loop.index] .. 'Title1'} %} 
			{% for i in range(#startMedias) %} 
				{% set startMem = table.insert(startMem,startMedias[i]) %} 
			{%endfor%} 
			{{- setAction('start', startMem) }}			
			<bind role="start" component="{{'m' .. button[loop.index] .. 'Bg'}}"/>
			<bind role="start" component="{{'m' .. button[loop.index] .. 'Info'}}"/>	
		{% endif %}
		{%+ endcall %}			
		{# endcall nutshell #} 
	{% endfor %} 
{%+ endcall %}
{# endcall setEnv #} 
{%- endblock %}
{# endblock startButtons #}

{% block closeButtons %}
	{%- call (key, button) setEnv() %}
	{% set stopMem = {} %}
	{% set startMem = {} %}
	{%+ for i in range(#button-1,1,-1) %}
		{%+ call nutshell("m".. button[i] .. "1", key[i], "onKeySelectionStartNStopN", "onSelection") %}	
		{%- set stopMedias = {'m' .. button[i+1] .. "1", 'm' .. button[i+1] .. 'Title1',
			'm' .. button[i+1] .. 'Bg', 'm' .. button[i+1] .. 'Info'} %} 
		{%- for i in range(#stopMedias) %} 
			{% set stopMem = table.insert(stopMem,stopMedias[i]) %} 
		{%- endfor %} 	
		{{- setAction('stop', stopMem) }}
		{%- if i == 1 %}
			{% set stopMedias = {'m' .. button[i], 'm' .. button[i] .. 'Title'} %}
			{{- setAction('stop', stopMedias) -}}
		{%- endif %}
		{{- table.insert(startMem, 'm' .. button[i+1]) }}
		{{- table.insert(startMem, 'm' .. button[i+1] .. 'Title') }} 
		{% set startMedias = {'m' .. button[i] .. 'Bg', 'm' .. button[i] .. 'Info'} %}
		{%- for i in startMem -%}
			{{table.insert(startMedias, startMem[loop.index])}}
		{%- endfor %}
		{{- setAction('start', startMedias) }}	
		{% endcall %}
		{# endcall nutshell #} 
	{% endfor %}	
	{% endcall %}
{# endcall setEnv #} 
{%- endblock %}
{# endblock closeButtons #}

{% block cursorRightButton1 %}
	{%- call (key, button) setEnv() %}
	{%+ call nutshell("m".. button[1] .. "Bg", key[1], "onBeginStartNStopN", "onBegin") %}
		<bind role="start" component="{{"m" .. button[1] .. "Right"}}"/>
		{% set stopValues = {"m" .. button[2] .. "Right", "m" .. button[3] .. "Right", "m" .. button[4] .. "Right", 
			"m" .. button[2] .. "Left", "m" .. button[3] .. "Left", "m" .. button[4] .. "Left", 
			"m" .. button[2] .. "Info1", "m" .. button[3] .. "Info1", "m" .. button[4] .. "Info1"} %}	
		{{- setAction('stop', stopValues) }}
	{% endcall %}
	{# endcall setEnv #}
	{% endcall %}	
	{# endcall nutshell #}
{% endblock %}
{# endblock cursorRightButton1 #}

{% block cursorRightButton2 %}
	{%- call (key, button) setEnv() %}
	{%+ call nutshell("m".. button[2] .. "Bg", key[2], "onBeginStartNStopN", "onBegin") %}
		<bind role="start" component="{{"m" .. button[2] .. "Right"}}"/>
		{% set stopValues = {"m" .. button[1] .. "Right", "m" .. button[3] .. "Right", "m" .. button[4] .. "Right", 
			"m" .. button[1] .. "Left", "m" .. button[3] .. "Left", "m" .. button[4] .. "Left", 
			"m" .. button[1] .. "Info1", "m" .. button[3] .. "Info1", "m" .. button[4] .. "Info1"} %}	
		{{- setAction('stop', stopValues) }}
	{% endcall %}
	{# endcall setEnv #}
	{% endcall %}
	{# endcall nutshell #}
{% endblock %}
{# endblock cursorRightButton2 #}

{% block cursorRightButton3 %}
	{%- call (key, button) setEnv() %}
	{%+ call nutshell("m".. button[3] .. "Bg", key[3], "onBeginStartNStopN", "onBegin") %}
		<bind role="start" component="{{"m" .. button[3] .. "Right"}}"/>
		{% set stopValues = {"m" .. button[1] .. "Right", "m" .. button[2] .. "Right", "m" .. button[4] .. "Right", 
			"m" .. button[1] .. "Left", "m" .. button[2] .. "Left", "m" .. button[4] .. "Left", 
			"m" .. button[1] .. "Info1", "m" .. button[2] .. "Info1", "m" .. button[4] .. "Info1"} %}	
		{{- setAction('stop', stopValues) }}
	{% endcall %}
	{# endcall setEnv #}
	{% endcall %}
	{# endcall nutshell #}
{% endblock %}
{# endblock cursorRightButton3 #}

{% block cursorRightButton4 %}
	{%- call (key, button) setEnv() %}
	{%+ call nutshell("m".. button[4] .. "Bg", key[4], "onBeginStartNStopN", "onBegin") %}
		<bind role="start" component="{{"m" .. button[4] .. "Right"}}"/>
		{% set stopValues = {"m" .. button[1] .. "Right", "m" .. button[2] .. "Right", "m" .. button[3] .. "Right", 
			"m" .. button[1] .. "Left", "m" .. button[2] .. "Left", "m" .. button[3] .. "Left", 
			"m" .. button[1] .. "Info1", "m" .. button[2] .. "Info1", "m" .. button[3] .. "Info1"} %}	
		{{- setAction('stop', stopValues) }}
	{% endcall %}
	{# endcall setEnv #}
	{% endcall %}
	{# endcall nutshell #}
{% endblock %}
{# endblock cursorRightButton4 #}

{% block navigationRight %}
	{% for i in	 files_list.buttons %}
	{%+ call nutshell("m".. i.name .. "Right" , "CURSOR_RIGHT", "onKeySelectionStartNStopN", "onSelection") %}
		{%- set stopMedias = {'m' .. i.name .. 'Info', 'm' .. i.name .. 'Right'} %} 
		{{- setAction('stop', stopMedias) }}
		{% set startMedias = {'m' .. i.name .. 'Info1', 'm' .. i.name .. 'Left'} %} 
		{{- setAction('start', startMedias) }}				
	{% endcall %}
	{% endfor %} 
{%- endblock %}
{# endblock navigationRight #} 

{% block navigationLeft %}
	{% for i in	 files_list.buttons %}
	{% call nutshell("m".. i.name .. "Left" , "CURSOR_LEFT", "onKeySelectionStopNStartN", "onSelection") %}
			{%- set stopMedias = {'m' .. i.name .. 'Info1', 'm' .. i.name .. 'Left'} %} 
			{{- setAction('stop', stopMedias) }}
			{% set startMedias = {'m' .. i.name .. 'Info', 'm' .. i.name .. 'Right'} %} 
			{{- setAction('start', startMedias) }}				
	{% endcall %}
	{% endfor %} 
{%- endblock %}
{# endblock navigationLeft #} 

{% block controlButtons %}
	{%- call(key, button) setEnv() %}
	{% for i in button %}
	{%+ call nutshell("m" .. button[loop.index] , key[loop.index], "onBeginStopN", "onBegin") %}
		{%- set stopMedias = {'m' .. button[loop.index] .. 'Left', 'm' .. button[loop.index] .. 'Right', 
			'm' .. button[loop.index] .. 'Info1'} %} 
		{{- setAction('stop', stopMedias) }}				
	{% endcall %} 
	{# endcall nuthells #}
	{% endfor %}	
	{% endcall %}
{%- endblock %}
{# endblock controlButtons #}