{%extends "additionalContent_base.ncl.j2" %}
{% block mainVideo %}       
    	<media id="mVideo" src="{{'media/' .. files_list.video}}" descriptor="desVideo">
			<property name="bounds"/>
    	</media>

{% endblock %}
{% set key = {'Red', 'Green', 'Yellow', 'Blue'} %}
{#endblock mainVideo #}
{% block interactiveButtons %}
		<media id="mBegin" descriptor="desBegin" src="{{'media/' .. files_list.begin}}"/>
		<media id="mExit" descriptor="desExit" src="{{'media/' .. files_list.close}}"/>
		
		<media id="mReg" descriptor="desReg" src="{{'media/' .. files_list.reg}}"/>
	{% for i in files_list.buttons %}
		<media id="{{'m' .. key[loop.index]}}" src ="{{'media/' .. i.image}}" descriptor="{{'desButton' .. loop.index}}"/>
    	<media id="{{'m' .. key[loop.index] .. '1'}}" src ="{{'media/' .. i.image}}" descriptor="{{'desButton' .. loop.index .. '_1'}}"/>
		<media id="{{'m' .. key[loop.index] .. 'Right'}}" src="{{'media/' .. i.right}}" descriptor="{{'desButton' .. loop.index ..'Right'}}"/> 
		<media id="{{'m' .. key[loop.index] .. 'Left'}}" src="{{'media/' .. i.left}}" descriptor="{{'desButton' .. loop.index ..'Right'}}"/> 
		<media id="{{'m' .. key[loop.index] .. 'Bg'}}" src ="{{'media/' .. i.background}}" descriptor="{{'desButton' .. loop.index .. 'Bg'}}"/>
		<media id="{{'m' .. key[loop.index] .. 'Title'}}" src="{{'media/' .. i.title}}" descriptor="{{'desButton' .. loop.index .. 'Title'}}">
			<property name="width" value="20%"/>
			<property name="height" value="5%"/>
			<property name="left" value="74%"/>
			<property name="top" value="{{73.8 + 5.0*loop.index0}}%"/>
			<property name="fontColor" value="white"/>
			<property name="fontSize" value="17"/>
			<property name="zIndex" value="3"/>
			<property name="fontFamily" value="Tiresias"/>
		</media>
		<media id="{{'m' .. i.name .. 'Title1'}}" src="{{'media/' .. i.title}}" descriptor="{{'desButton' .. loop.index .. 'Title1'}}">
			<property name="width" value="20%"/>
			<property name="height" value="5%"/>
			<property name="left" value="74%"/>
			<property name="top" value="{{13.8 + 5.0*loop.index0}}%"/>
			<property name="fontColor" value="white"/>
			<property name="fontSize" value="17"/>
			<property name="zIndex" value="3"/> 
			<property name="fontFamily" value="Tiresias"/>
		</media>
		<media id="{{'m' .. key[loop.index] .. 'Info'}}" src="{{'media/'.. i.info}}" descriptor="{{'desButton'.. loop.index .. 'Info'}}">
		{% if loop.index == 4 %}
			<property name="width" value="23%"/>
			<property name="height" value="53%"/>
		{% else %}
			<property name="width" value="25%"/>
			<property name="height" value="60%"/>
		{% endif %}
			<property name="left" value="70%"/>
			<property name="top" value="{{19 + 5.0*loop.index0}}%"/>
			<property name="fontColor" value="black"/>
			<property name="fontSize" value="17"/>
			<property name="zIndex" value="3"/> 
			<property name="fontFamily" value="Tiresias"/>
		</media>
		<media id="{{'m' .. key[loop.index] .. 'Info1'}}" src="{{'media/'.. i.infoPlus}}" descriptor="{{'desButton'.. loop.index .. 'Info1'}}">
		{% if loop.index == 4 %}
			<property name="width" value="23%"/>
			<property name="height" value="53%"/>
		{% else %}
			<property name="width" value="25%"/>
			<property name="height" value="60%"/>
		{% endif %}
			<property name="left" value="70%"/>
			<property name="top" value="{{19 + 5.0*loop.index0}}%"/>
			<property name="fontColor" value="black"/>
			<property name="fontSize" value="17"/>
			<property name="zIndex" value="3"/> 
			<property name="fontFamily" value="Tiresias"/>
		</media> 

	{% endfor %} 
{% endblock %}     
{# endblock interactiveButtons #}
{% include "macros.j2" %}
{% block startApp %}
{%+ call nutshell("mBegin", "INFO", "onKeySelectionStartNStopN", "onSelection") -%}
	{% for i in files_list.buttons %}
			{% set values = {'m' .. key[loop.index] , 'm' .. key[loop.index] .. 'Title'} %} 
			{{- setAction('start', values) }}		
	{% endfor %}	
			<bind role="start" component="mExit"/>	
			<bind role="stop" component="mBegin"/>
{%+ endcall %}	
{# endcall nutshell #}
{%- endblock %}
{# endblock startApp #}

{% block endApp %}
{%+ call nutshell("mExit", "INFO", "onKeySelectionStartNStopN", "onSelection") -%}
			<bind role="start" component="mBegin"/>
	{% for i in files_list.buttons %}
			{% set values = {'m' .. key[loop.index], 'm' .. key[loop.index] .. '1', 
				'm' .. key[loop.index] .. 'Title', 'm' .. key[loop.index] .. 'Title1', 'm' .. key[loop.index] .. 'Bg',
				'm' .. key[loop.index] .. 'Info', 'm' .. key[loop.index].. 'Right', 'm' ..key[loop.index] .. 'Info1' } %} 
			{{- setAction('stop', values) }}		
	{% endfor %}	
			<bind role="stop" component="mExit"/>	
			<bind role="stop" component="mReg"/>
{%+ endcall %}	
{# endcall nutshell #}  
{%- endblock %}
{# endblock endApp #}

{% block cursorDown %}
{%+ call nutshell("mReg", "CURSOR_DOWN", "onKeySelectionStartNStopN", "onSelection") -%}
			<bind role="stop" component="mReg"/>
	{% for i in files_list.buttons %}
			{% set values = {'m' .. key[loop.index] .. '1', 'm' .. key[loop.index] .. 'Title1', 
				'm' .. key[loop.index] .. 'Bg', 'm' .. key[loop.index] .. 'Info'} %} 
			{{- setAction('stop', values) }}					
	{% endfor %}	
	{% for i in files_list.buttons %}
			{% set values = {'m' .. key[loop.index], 'm' .. key[loop.index].. 'Title'} %} 
			{{- setAction('start', values) }}					
	{% endfor %}
{%+ endcall %}	
{# endcall nutshell #}
{%- endblock %}
{# endblock cursorDown #}

{% block startButtons %}
	{% set stopMem = {} %}
	{% set startMem = {'mReg'} %}
	{% for i in files_list.buttons %}
		{%+ call nutshell("m".. key[loop.index], key[loop.index]:upper(), "onKeySelectionStopNStartN", "onSelection") %}	
		{% if loop.index == 1 %}
			{% set stopMedias = {'m' .. key[loop.index], 
				'm' .. key[loop.index] .. 'Title'} %} 
			{{- setAction('stop', stopMedias) -}}					
			{% for i in range(#stopMedias) %} 
				{% set stopMem = table.insert(stopMem,stopMedias[i]) %} 
			{%endfor%} 
			{% set startMedias = {'m' .. key[loop.index] .. '1', 'm' .. key[loop.index] .. 'Title1'} %} 
			{% for i in range(#startMedias) %} 
				{% set startMem = table.insert(startMem,startMedias[i]) %} 
			{%endfor%} 
			{{- setAction('start', startMem) }}	
			<bind role="start" component="{{'m' .. key[loop.index] .. 'Bg'}}"/>
			<bind role="start" component="{{'m' .. key[loop.index] .. 'Info'}}"/>	
		{% else %}
		{% set stopMedias = {'m' .. key[loop.index], 'm' .. key[loop.index] .. 'Title', 
				'm' .. key[loop.index-1] .. 'Bg', 'm' .. key[loop.index-1] .. 'Info' } %}
			{% for i in range(#stopMedias) %} 
				{% set stopMem = table.insert(stopMem,stopMedias[i]) %} 
			{%endfor%} 
				{{- setAction('stop', stopMem) -}} 
		{% set startMedias = {'m' .. key[loop.index] .. '1', 'm' .. key[loop.index] .. 'Title1'} %} 
			{% for i in range(#startMedias) %} 
				{% set startMem = table.insert(startMem,startMedias[i]) %} 
			{%endfor%} 
			{{- setAction('start', startMem) }}			
			<bind role="start" component="{{'m' .. key[loop.index] .. 'Bg'}}"/>
			<bind role="start" component="{{'m' .. key[loop.index] .. 'Info'}}"/>	
		{% endif %}
		{%+ endcall %}			
		{# endcall nutshell #} 
	{% endfor %} 
{%- endblock %}
{# endblock startButtons #}

{% block closeButtons %}
	{% set stopMem = {} %}
	{% set startMem = {} %}
	{%+ for i in range(#key-1,1,-1) %}
		{%+ call nutshell("m".. key[i] .. "1", key[i]:upper(), "onKeySelectionStartNStopN", "onSelection") %}	
		{%- set stopMedias = {'m' .. key[i+1] .. "1", 'm' .. key[i+1] .. 'Title1',
			'm' .. key[i+1] .. 'Bg', 'm' .. key[i+1] .. 'Info'} %} 
		{%- for i in range(#stopMedias) %} 
			{% set stopMem = table.insert(stopMem,stopMedias[i]) %} 
		{%- endfor %} 	
		{{- setAction('stop', stopMem) }}
		{%- if i == 1 %}
			{% set stopMedias = {'m' .. key[i], 'm' .. key[i] .. 'Title'} %}
			{{- setAction('stop', stopMedias) -}}
		{%- endif %}
		{{- table.insert(startMem, 'm' .. key[i+1]) }}
		{{- table.insert(startMem, 'm' .. key[i+1] .. 'Title') }} 
		{% set startMedias = {'m' .. key[i] .. 'Bg', 'm' .. key[i] .. 'Info'} %}
		{%- for i in startMem -%}
			{{table.insert(startMedias, startMem[loop.index])}}
		{%- endfor %}
		{{- setAction('start', startMedias) }}	
		{% endcall %}
		{# endcall nutshell #} 
	{% endfor %}	
{%- endblock %}
{# endblock closeButtons #}

{% block cursorRightButton1 %}
	{%+ call nutshell("m".. key[1] .. "Bg", key[1]:upper(), "onBeginStartNStopN", "onBegin") %}
		<bind role="start" component="{{"m" .. key[1] .. "Right"}}"/>
		{% set stopValues = {"m" .. key[2] .. "Right", "m" .. key[3] .. "Right", "m" .. key[4] .. "Right", 
			"m" .. key[2] .. "Left", "m" .. key[3] .. "Left", "m" .. key[4] .. "Left", 
			"m" .. key[2] .. "Info1", "m" .. key[3] .. "Info1", "m" .. key[4] .. "Info1"} %}	
		{{- setAction('stop', stopValues) }}
	{% endcall %}	
	{# endcall nutshell #}
{% endblock %}
{# endblock cursorRightButton1 #}

{% block cursorRightButton2 %}
	{%+ call nutshell("m".. key[2] .. "Bg", key[2]:upper(), "onBeginStartNStopN", "onBegin") %}
		<bind role="start" component="{{"m" .. key[2] .. "Right"}}"/>
		{% set stopValues = {"m" .. key[1] .. "Right", "m" .. key[3] .. "Right", "m" .. key[4] .. "Right", 
			"m" .. key[1] .. "Left", "m" .. key[3] .. "Left", "m" .. key[4] .. "Left", 
			"m" .. key[1] .. "Info1", "m" .. key[3] .. "Info1", "m" .. key[4] .. "Info1"} %}	
		{{- setAction('stop', stopValues) }}
	{% endcall %}
	{# endcall nutshell #}
{% endblock %}
{# endblock cursorRightButton2 #}

{% block cursorRightButton3 %}
	{%+ call nutshell("m".. key[3] .. "Bg", key[3]:upper(), "onBeginStartNStopN", "onBegin") %}
		<bind role="start" component="{{"m" .. key[3] .. "Right"}}"/>
		{% set stopValues = {"m" .. key[1] .. "Right", "m" .. key[2] .. "Right", "m" .. key[4] .. "Right", 
			"m" .. key[1] .. "Left", "m" .. key[2] .. "Left", "m" .. key[4] .. "Left", 
			"m" .. key[1] .. "Info1", "m" .. key[2] .. "Info1", "m" .. key[4] .. "Info1"} %}	
		{{- setAction('stop', stopValues) }}
	{% endcall %}
	{# endcall nutshell #}
{% endblock %}
{# endblock cursorRightButton3 #}

{% block cursorRightButton4 %}
	{%+ call nutshell("m".. key[4] .. "Bg", key[4]:upper(), "onBeginStartNStopN", "onBegin") %}
		<bind role="start" component="{{"m" .. key[4] .. "Right"}}"/>
		{% set stopValues = {"m" .. key[1] .. "Right", "m" .. key[2] .. "Right", "m" .. key[3] .. "Right", 
			"m" .. key[1] .. "Left", "m" .. key[2] .. "Left", "m" .. key[3] .. "Left", 
			"m" .. key[1] .. "Info1", "m" .. key[2] .. "Info1", "m" .. key[3] .. "Info1"} %}	
		{{- setAction('stop', stopValues) }}
	{% endcall %}
	{# endcall nutshell #}
{% endblock %}
{# endblock cursorRightButton4 #}

{% block navigationRight %}
	{% for i in files_list.buttons %}
	{%+ call nutshell("m".. key[loop.index] .. "Right" , "CURSOR_RIGHT", "onKeySelectionStartNStopN", "onSelection") %}
		{%- set stopMedias = {'m' .. key[loop.index] .. 'Info', 'm' ..key[loop.index] .. 'Right'} %} 
		{{- setAction('stop', stopMedias) }}
		{% set startMedias = {'m' .. key[loop.index] .. 'Info1', 'm' .. key[loop.index] .. 'Left'} %} 
		{{- setAction('start', startMedias) }}				
	{% endcall %}
	{% endfor %} 
{%- endblock %}
{# endblock navigationRight #} 

{% block navigationLeft %}
	{% for i in	files_list.buttons %}
	{% call nutshell("m".. key[loop.index] .. "Left" , "CURSOR_LEFT", "onKeySelectionStopNStartN", "onSelection") %}
			{%- set stopMedias = {'m' .. key[loop.index] .. 'Info1', 'm' .. key[loop.index] .. 'Left'} %} 
			{{- setAction('stop', stopMedias) }}
			{% set startMedias = {'m' .. key[loop.index] .. 'Info', 'm' .. key[loop.index] .. 'Right'} %} 
			{{- setAction('start', startMedias) }}				
	{% endcall %}
	{% endfor %} 
{%- endblock %}
{# endblock navigationLeft #} 

{% block controlButtons %}
	{% for i in key %}
	{%+ call nutshell("m" .. key[loop.index] , key[loop.index]:upper(), "onBeginStopN", "onBegin") %}
		{%- set stopMedias = {'m' .. key[loop.index] .. 'Left', 'm' .. key[loop.index] .. 'Right', 
			'm' .. key[loop.index] .. 'Info1'} %} 
		{{- setAction('stop', stopMedias) }}				
	{% endcall %}
	{# endcall nuthells #}
	{% endfor %}	
{%- endblock %}
{# endblock controlButtons #}